nav.sigai-navbar {
	height: 64px;
	padding: 0;
	margin: 0;
	background: $nav-def-bg;
	z-index: 1000000000000;

	div.sigai-nav {
		padding: 0 16px;
		background: $nav-def-bg;
		a.nav-item.nav-link {
			padding: 16px;
			font-weight: 500;
			line-height: 32px;
			color: $brand-white;
			text-decoration: none;
			&:hover {
				cursor: pointer;
			}

			&.active {
				background: $nav-active;
			}
		}
	}

	.navbar-toggler {
		height: 64px;
		width: 64px;
		svg.fa-bars > path {
			fill: $brand-white !important;
		}
	}
}